<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="conteiner">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item active"><a class="mobile-menu__link" href="#">Home</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">About us</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Gallery</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Styles</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Interior</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Contact</a></li>
    </ul>
  </div>
</div>
