@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 6px;
    padding-bottom: 6px;
  }

  .logo-link {
    width: 95px;
    height: 25px;
  }

  .main-item {
    width: 25px;
    height: 25px;
    position: relative;
  }

  .line {
    position: absolute;
    right: 0;
    height: 1px;
    width: 80%;
    background: black;
    border-radius: 0px;
    transition: all cubic-bezier(0.25, 0.1, 0.26, 1.56) 0.27s;
  }

  .middleline {
    width: 60%;
  }

  .line01 {
    top: 28%;
  }

  .line02 {
    top: 49%;
  }

  .line03 {
    top: 69%;
  }

  .menu-btn.close .line01 {
    transform: rotate(45deg);
    top: 49%;
  }

  .menu-btn.close .line03 {
    transform: rotate(-45deg);
    top: 49%;
  }

  .menu-btn.close .line02 {
    opacity: 0;
    transition: 0s;
  }

  .menu__nav {
    display: none;
  }

  .square {
    display: none;
  }

  .mobile__link {
    font-size: 12px;
    line-height: 1.32;
    padding: 6px 0;
    color: #000000;
    background-color: #f4d059;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &--icon {
        margin-left: 8px;
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile__link {
    display: none;
  }

  .menu {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo-link {
    width: 210px;
    height: 50px;
    margin-right: 190px;
  }

  .wrapper {
    display: none;
  }

  .menu__nav {
    position: relative;
  }

  .menu__link {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100px;

    font-size: 16px;
    line-height: 3.2;
    color: #00204a;
    text-decoration: none;
    text-align: center;

    z-index: 1;
    cursor: pointer;
  }

  .animation {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    z-index: 0;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    border-radius: 8px;
    background-color: #f4d059;
  }

  .start-home,
  .menu__link:nth-child(1):hover ~ .animation {
    left: 0;
  }

  .menu__link:nth-child(2):hover ~ .animation {
    left: 103px;
  }

  .menu__link:nth-child(3):hover ~ .animation {
    left: 206px;
  }

  .menu__link:nth-child(4):hover ~ .animation {
    left: 309px;
  }

  .menu__link:nth-child(5):hover ~ .animation {
    left: 412px;
  }

  .menu__link:nth-child(6):hover ~ .animation {
    left: 515px;
  }

  .square {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4d059;
    width: 125px;
    height: 125px;

    &__link {
      text-decoration: none;
    }

    &__title {
      font-weight: 700;
      font-size: 15px;
      line-height: 1.1;
      text-transform: uppercase;
      color: #000000;
    }

    &__text {
      font-weight: 300;
      font-size: 13px;
      line-height: 1.22;
      text-transform: uppercase;
      color: #000000;
    }
  }
}
